.content-wrapper {
    display: flex; 
    gap: 20px; 
  }
  

  .list-container {
    flex-basis: 70%; 
    max-height : 500px;
    overflow-y: auto; 
    display: flex;
    flex-wrap: wrap; 
    gap: 20px; 
  }
  
  .map-container {
    flex-basis: 30%; /* Prend 30% de la largeur */
    height : 500px;
  }
  main {
    margin: 50px;
  }
  .card {
    background-color: #d8c495;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: calc(33.333% - 20px); /* 3 cards par ligne */
    box-sizing: border-box;
  }
  
  .card h3 {
    margin: 0;
    font-size: 18px;
  }
  
  .card p {
    margin: 10px 0;
    font-size: 14px;
  }
  


  .search-filter {
    display: flex;
    flex-direction: row; 
    justify-content: center; 
    align-items: center; 
    margin-top : 20px;
    margin-bottom : 40px; 
  }
  
  .search-filter input {
    height : 35px;
    width : 400px;
    margin-bottom : 8px; 
  }
  
  .search-filter select {
    height : 35px;
    width : 400px;
    
  }
  .pagination button {
    color: blue;
    align-items: center;
    margin-left : 3px;
    border-radius: 30%;
    size: 3px;
   
  }
  .pagination {
    display: flex;
    justify-content: center;
  }
  