@import url("https://fonts.googleapis.com/css?family=Barlow");

@tailwind base;
@tailwind components;
@tailwind utilities;


.background-image {
  background-image: url("./assets/terrain-tennis.jpg"); 
  background-size: cover;
  background-position: center;
  width : 100%;
  height : 70vh; 
  position: relative; 
  z-index: 1;
}
body {
  background-color: rgba(199, 191, 191, 0.624);
  
  padding: 0%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40vh;
  background: rgba(0, 0, 0, 0.5); 
  z-index: 1; 
}

a {
  text-decoration: none;
}

/* Avatar */
.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

/* Nom de l'équipe */
.team-name {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

/* Description */
.team-description {
  font-size: 0.9rem;
  color: #555;
}


/* Footer */
.footer {
  background-color: #5155dd;
  padding: 20px 0;
  text-align: center;
  margin-top: 50px;
  position: relative;
  height: 180px;
}

.footer-content {
  display: flex;
  flex-direction: column;
  height: 150px;
  align-items: center;
}

.footer-logo {
  margin-bottom: 10px;
  left: 20px;
  position: absolute;
}

.footer-logo-img {
  width: 100px; 
}

.footer-socials {
  display: flex;
  margin-top : 10px;
  justify-content: center;
}

.footer-icon {
  font-size: 24px;
  color: #ffffff;
  margin: 0 15px;
  transition: transform 0.3s ease;
}

.footer-icon:hover {
  transform: scale(1.2);
  color: #178cb6; 
}
